*, *::before, *::after{
    margin: 0;

    padding: 0;

    box-sizing: content-box;
}

:root{

    /*BODY*/

    --GR_BODY: radial-gradient(#bfbfe0, #85b685);
    
    /*NASLOV*/

    --MAR: 4rem;

    --WIDTH_NASLOV: 65%;

    --TA_NASLOV: center;

    --FS_NASLOV: 1.7rem;

    --COL_NASLOV: #1d248a;

    /*MENI*/

    --WIDTH_MENI: 87%;

    --FS_MENI: 1.5rem;

    --TA_MENI: left;

    --BOR-WIDTH: 2px;
    
    --BOR-STYLE: solid;

    --BOR-COL: #000000;

    --TA_LI_MENI: center;

    --PAD_LI: 0;

    --GR_MENI: linear-gradient(#a7a3a3, #115e53);

    --BORT-WIDTH: 2px;

    --BORT-STYLE: solid;

    --BORT-COL: #000000;

    --TD_MENI: none;

    --COL_MENI: #e9e9e9;
    
    --COL-VISITED_MENI: #c4c71a;
    
    --COL-HOVER_MENI: #41db22;
    
    --COL-ACTIVE_MENI: #e91b1b;

    --DISPLAY-A_MENI: block;

    --WIDTH-A_MENI: 100%;

    --HEIGHT-A_MENI: 100%;

    --PADD-A_MENI: 10px;

    /*DUŽINA, TEŽINA, TEMPERATURA*/

    --POS: relative;

    --BORDTT-WIDTH: 3px;

    --BORDTT-STYLE: solid;

    --BORDTT-COL: #000000;

    --DTT-WIDTH: 87%;

    --DT-HEIGHT: 300px;

    --DTT_COL: #1d248a;

    /*TEMPERATURA VISINA*/

    --T-HEIGHT: 180px;

    /*POSITION DUŽINA, TEŽINA, TEMPERATURA*/

    --POSDTT: absolute;

    /*TOP*/

    --TOP1: 30px;

    --TOP2: 100px;

    --TOP3: 170px;

    --TOP4: 240px;

    --TOP5: 60px;

    --TOP6: 140px;

    --TOP7: 220px;

    --TOP8: 45px;

    --TOP9: 119px;

}

@keyframes appear_duzina{

    0% {

        left: -10000px;

    }

    100%{

        left: 0;
    }

}

@keyframes appear_tezina {

    0% {

        left: -10000px;

    }

    100% {

        left: 0;

    }

}

@keyframes appear_temperatura {

    0% {

        left: -10000px;

    }

    100% {

        left: 0;

    }

}

body{
    scroll-behavior: smooth;

    background: var(--GR_BODY);
}

.naslov{
    margin: var(--MAR);

    width: var(--WIDTH_NASLOV);

    text-align: var(--TA_NASLOV);

    font-size: var(--FS_NASLOV);

    color: var(--COL_NASLOV);
    
}

.meni{
    width: var(--WIDTH_MENI);

    font-size: var(--FS_MENI);

    text-align: var(--TA_MENI);

    border: var(--BOR-WIDTH) var(--BOR-STYLE) var(--BOR-COL);
}

.meni li{
    text-align: var(--TA_LI_MENI);

    padding: var(--PAD_LI);

    background: var(--GR_MENI);
}

.meni li:nth-child(2){
    border-top: var(--BORT-WIDTH) var(--BORT-STYLE) var(--BORT-COL);

    border-bottom: var(--BORT-WIDTH) var(--BORT-STYLE) var(--BORT-COL);
}

li a{
    text-decoration: var(--TD_MENI);

    color: var(--COL_MENI);
}

li a:visited {
    text-decoration: var(--TD_MENI);

    color:var(--COL-VISITED_MENI);
}

li a:hover {
    text-decoration: var(--TD_MENI);

    color: var(--COL-HOVER_MENI);
}

li a:active {
    text-decoration: var(--TD_MENI);

    color: var(--COL-ACTIVE_MENI);
}

.meni a {
    display: var(--DISPLAY-A_MENI);

    width: var(--WIDTH-A_MENI);

    height: var(--HEIGHT-A_MENI);

    padding: var(--PADD-A_MENI);
}

.duzina{
    position: var(--POS);

    border: var(--BORDTT-WIDTH) var(--BORDTT-STYLE) var(--BORDTT-COL);

    width: var(--DTT-WIDTH);

    height: var(--DT-HEIGHT);

    color: var(--DTT_COL);

    animation: appear_duzina 4s normal ease-in-out;
}

.duzina .kilometar{
    position: var(--POSDTT);

    top: var(--TOP1);
}

.duzina .decimetar {
    position: var(--POSDTT);

    top: var(--TOP2);
}

.duzina .centimetar {
    position: var(--POSDTT);
    top: var(--TOP3);
}

.duzina .milimetar {
    position: var(--POSDTT);

    top: var(--TOP4);
}

.tezina {
    position: var(--POS);

    border: var(--BORDTT-WIDTH) var(--BORDTT-STYLE) var(--BORDTT-COL);

    width: var(--DTT-WIDTH);

    height: var(--DT-HEIGHT);

    color: var(--DTT_COL);

    animation: appear_tezina 4s normal  ease-in-out;
}

.tezina .tona{
    position:var(--POSDTT);

    top: var(--TOP5);
}

.tezina .gram {
    position: var(--POSDTT);

    top: var(--TOP6);
}

.tezina .miligram {
    position: var(--POSDTT);

    top: var(--TOP7);
}

.temperatura {
    position: var(--POS);

    border: var(--BORDTT-WIDTH) var(--BORDTT-STYLE) var(--BORDTT-COL);

    width: var(--DTT-WIDTH);

    height: var(--T-HEIGHT);
    
    color: var(--DTT_COL);

    animation: appear_temperatura 4s normal ease-in-out;
}

.temperatura .farenhajt{
    position: var(--POSDTT);

    top: var(--TOP8);
} 

.temperatura .kelvin {
    position: var(--POSDTT);

    top: var(--TOP9);
}
